{% extends "base.html" %}

{% block content %}

<img src="{{ user.avatar }}" alt="Avatar can\'t be loaded...">
<br>
<br>
<h4>Games of {{ user.nickname }}</h4>
<a href=".." class="btn btn-dark">< Back</a>
<br><br>
{% if games %}
    {% for game in games %}
        <h4>
            <span>
                <a href="/app/{{ game['appid'] }}">
                    <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/apps/{{ game['appid'] }}/{{ game['img_icon_url'] }}.jpg" alt="Image can\'t be loaded...">
                </a>
                <a href="/app/{{ game['appid'] }}">{{ game["name"] }}</a>
            </span>
        </h4>
        {% set playtime = game["playtime_forever"] / 60 %}
        {% if playtime > 0 %}
            <h4>{{ '%0.2f' % playtime|float }} hours played.</h4>
        {% else %}
            <h4>No playtime.</h4>
        {% endif %}
        {% if game["appid"] == 730 %}
            <button class="btn btn-dark" onclick="window.location.href='{{ url_for('steam_profile_730stats', steamid=user.id) }}'">CS:GO stats</button>
            <br>
        {% endif %}
        <br>
    {% endfor %}
{% else %}
    <h4>This user doesn't own any game or hidden his games list.</h4>
{% endif %}

{% endblock %}