header {
  background-color: #151617;
}

.logo {
  margin-left: 10dvh;
}

body {
    background: #111213;
}

.background {
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  overflow: hidden;
  transform: rotate(0deg);
}

.background:before {
    content: "";
    position: absolute;
    width: 1000%;
    height: 1000%;
    top: -450%;
    left: -450%;
    z-index: -1;

    background-image: radial-gradient(
        circle at 100% 50%,
        transparent 1rem,
        rgba(0, 128, 128, 0.5) 1rem,
        rgba(0, 128, 128, 0.5) 1.5rem,
        transparent 1.5rem
      ),
      radial-gradient(
        circle at 0% 50%,
        transparent 1rem,
        rgba(0, 128, 128, 0.5) 1rem,
        rgba(0, 128, 128, 0.5) 1.5rem,
        transparent 1.5rem
      );
    background-size: 4rem 5rem;
    background-position: 0 0, 0 2.5rem;
    transform: rotate(30deg);
    animation: animatedBackground 1000s linear infinite;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0, 0 2.5rem;
  }
  to {
    background-position: 0 -10000px;
  }
}

.container {
  height: 100%;
  padding: 15px 40px;
  background-color: rgba(11, 12, 13, 0.8);
  backdrop-filter: blur(6px);
}

@keyframes animatedBackground {
  from {
    background-position: 0 0, 0 2.5rem;
  }
  to {
    background-position: 0 -10000px, 0 calc(2.5rem - 10000px);
  }
}