:root {
  --header-background-color: #151617;
  --anim-background-color: #111213;
  --searchbar-background-color: #212223;

  --tabs-button-background-color: #151617;
  --tabs-button-hover-background-color: #212223;
  --tabs-button-active-background-color: #303132;
  --tabs-border: 1px solid #ccc;

  --container-color: rgba(11, 12, 13, 0.8);
  --anim-background-stripes-color: rgba(0, 128, 128, 0.5);
  --anim-background-elem-size: 5rem;
  --anim-background-elem-shift: calc(var(--anim-background-elem-size) / 2);
  --background-oversize: 5000rem;
}

html {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--anim-background-color);
  color: white;
  min-height: 100vh;
}

header, footer {
  background-color: var(--header-background-color);
}

header {
  flex: none;
}

nav {
  margin-left: 10vh;
}

nav > a {
  color: white;
}

.background {
  display: flex;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.livebar {
  background-color: var(--searchbar-background-color);
  color: inherit;
}

.search-results {
  position: fixed;
  background-color: var(--searchbar-background-color);
  transform: translateX(-25%);
  z-index: 50;
}

.search-results > div {
  padding-left: 5px;
  border: 1px solid var(--header-background-color);
}

.background::before {
  content: "";
  position: absolute;
  --background-shift: calc(0px - calc(calc(var(--background-oversize) - 100%) / 2));
  width: var(--background-oversize);
  height: var(--background-oversize);
  top: var(--background-shift);
  left: var(--background-shift);
  z-index: -1;

  background-image: radial-gradient(
      circle at 100% 50%,
      transparent 20%,
      var(--anim-background-stripes-color) 21%,
      var(--anim-background-stripes-color) 32%,
      transparent 33%
    ),
    radial-gradient(
      circle at 0% 50%,
      transparent 20%,
      var(--anim-background-stripes-color) 21%,
      var(--anim-background-stripes-color) 32%,
      transparent 33%
    );
  background-size: 4rem var(--anim-background-elem-size);
  background-position: 0 0, 0 var(--anim-background-elem-shift);
  transform: rotate(30deg);
  animation: animatedBackground 1000s linear infinite;
}

@keyframes animatedBackground {
  to {
    background-position: 0 -10000px, 0 calc(var(--anim-background-elem-shift) - 10000px);
  }
}

.container {
  min-height: 100%;
  padding: 15px 40px;
  background-color: var(--container-color);
  backdrop-filter: blur(6px);
}

.stats-container, .stats-category {
  display: flex;
  flex-wrap: wrap;
}

.stats-category, .stats-subcategory {
  flex: 25% 0 100%;
}

.stats-category {
  padding: 10px;
}

.stats-category h3 {
  width: 100%;
}

.stats-subcategory {
  padding: 20px;
}

footer {
  padding: 15px 10vh;
}

footer > h6 {
  font-size: 0.7rem;
}

.text-centered {
  text-align: center
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.mp4 video {
    width: 100%;
    height: 100%;
}

.text {
    font-size: 20px
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: var(--tabs-border);
  background-color: var(--tabs-button-background-color);
}

/* Style the buttons inside the tab */
.tab button {
  color: white;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--tabs-button-hover-background-color);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--tabs-button-active-background-color);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: var(--tabs-border);
  border-top: none;
  transform-origin: top;
  animation: animatedTab 0.1s linear;
}

@keyframes animatedTab {
  from {
    transform: scale(1, 0);
  }
}