{% extends "base.html" %}

{% block content %}
    <h1 style="text-align: center;">Search for Steam users</h1>
    <br>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.query.label }}<br>
            {{ form.query(class="form-control") }}<br>
            {% for error in form.query.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary form-control") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}