<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{{ title }}</title>
</head>
<body>
<header>
    <nav class="navbar text-light shadow">
        <div class="logo">
            <h1>Steamscroller</h1>
            <h6>Gotta go fast</h6>
        </div>
        <a class="navbar-brand text-light" href="#">CLICK</a>
    </nav>
</header>
<!-- Begin page content -->
<div class="background">
    <main role="main" class="container text-light">
        {% block content %}{% endblock %}
    </main>
</div>
</body>
</html>