<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <h1>Steamscroller</h1>
                <h6>Gotta go fast</h6>
            </div>
            <div class="search">
                <input type="text" class="searchbar" id="searchbar-live" placeholder="Search for Steam apps..." />
                <div class="search-results" id="search-results-live"></div>
            </div>
            <a class="navbar-brand" href="#">CLICK</a>
        </nav>
    </header>
    <!-- Begin page content -->
    <div class="background">
        <main role="main" class="container">
            {% block content %}{% endblock %}
        </main>
    </div>
    <footer>
        <h6>Steamscroller is an educational project and is not affiliated with Valve or Steam.<br>
            Steam and the Steam logo are trademarks of Valve Corporation. All other trademarks are property of their respective owners.</h6>
    </footer>
</body>
<script>
    $(document).ready(function() {
        var timer;

        function loadSearchResults(query) {
            $.ajax({
                method: "POST",
                url: "/livesearch",
                data: {query: query},
                success: function(data) {
                    displayedResults = '';
                    $.each(data, function(index, app) {
                        if (app == '<see all>') {
                            displayedResults += `<a href='/searchapp/${query}'>...</a>`;
                        } else {
                            displayedResults += `<a href='/app/${app.appid}'>${app.name}</a>`;
                        }
                    });
                    $("#search-results-live").html(displayedResults);
                }
            });
        }

        function lookup() {
            query = $("#searchbar-live").val();
            if (query.length == 0) {
                $("#search-results-live").empty()
                return;
            }
            loadSearchResults(query);
        }

        $("#searchbar-live").on("input", function(e) {
            clearTimeout(timer);
            var ms = 500; // milliseconds
            timer = setTimeout(lookup, ms);
        });

        $("#searchbar-live").on("keydown",function search(e) {
            if(e.keyCode == 13) {  // pressing Enter
                window.location.href = `/searchapp/${$("#searchbar-live").val()}`
            }
        });
    });
</script>
</html>