{% extends "base.html" %}

{% block content %}
<h1 id="welcome" class="text-centered">Easy and convenient way to explore your favorite games... as well as users.</h1>
<div class="sections">
    <div>
        <h2 class="text-centered">Games:</h2>
        <ul class="centered">
            <li>browse all Steam apps</li>
            <li>see app details</li>
            <li>subscribe to apps newsletter (WIP)</li>
        </ul>
    </div>
    <div>
        <h2 class="text-centered">Users:</h2>
        <ul class="centered">
            <li>search for any Steam user</li>
            <li>see user's profile details</li>
            <li>see user's friend list</li>
            <li>see user's game library</li>
            <li>see user's game stats (WIP, only CS:GO currently)</li>
        </ul>
    </div>
</div>
<h5 class="text-centered">Feel free to contact us: <a href="mailto:steamscroller_yandex@mail.ru">steamscroller_yandex@mail.ru</a></h5>
{% endblock %}