{% extends "base.html" %}

{% block content %}
<h2 align="center">{{ name }}</h2><br>
<center><img width="70%" height="70%" src="{{ avatar_of_the_game }}" alt="Avatar can\'t be loaded..."></center>
<br>
<br>
<h4>Genres: <span class="text">{{ genres }}</span></h4>
<h4>Developer: <span class="text">{{ developer }}</span></h4>
<h4>Release date: <span class="text">{{ release_date }}</span></h4>
<h4>Description of the game: <span class="text">{{ description_of_the_game }}</span></h4>
<h4>Price: <span class="text">{{ price }}</span></h4>
{% if spisok_par %}
    <h4>Minimum system requirements:</h4>
{% endif %}
{% for par in spisok_par %}
    <ul>
        <h5>
            <span class="text">{{ par }}</span>
        </h5>
    </ul>
{% endfor %}
{% if mode %}
<h4>Mode: <span class="text">{{ mode }}</span></h4>
{% endif %}
<center>
    {% if video %}
    <div class="mp4">
        <video width="450" height="260" controls autoplay muted id="videoId">
            <source src="{{ video }}" type="video/mp4"></video>
    </div>
    {% endif %}
{% for im in images[:5] %}
    <br>
    <img src="{{ im }}" width="100%" height="100%">
    <br>
{% endfor %}
</center>
{% endblock %}