{% extends "base.html" %}

{% block content %}
<img src="{{ avatar }}" alt="Avatar can\'t be loaded...">
<br>
<br>
<h4>Games of {{ nick }}</h4>
<form method="post">
    <a href=".." class="btn btn-dark">< Back</a>
{% if games %}
    {% for game in games %}
        {% if game["appid"] == 730 %}
               <button type="submit" class="btn btn-dark" name="user730stats">CS:GO stats</button>
        {% endif %}
    {% endfor %}
</form>
    {% for game in games %}
        <h4><a href="/profiles/{{ game['name'] }}">{{ game["name"] }}</a></h4>
        {% set playtime = game["playtime_forever"] / 60 %}
        {% if playtime > 0 %}
            <h4>{{ '%0.2f' % playtime|float }} hours played.</h4>
        {% else %}
            <h4>No playtime.</h4>
        {% endif %}
        <br>
    {% endfor %}
{% else %}
    <h4>This user doesn't own any game or hidden his games list.</h4>
{% endif %}

{% endblock %}